.loader {
  color: var(--color-text-subdued);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.loader svg {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.loader path {
  stroke: var(--color-interactive-primary-default);
}

.loader circle {
  stroke: var(--color-interactive-primary-subdued);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
