.error-message {
  background-color: var(--white);
  font-size: 0.9375rem;
  padding: 0.75rem 1rem;
  display: flex;
  flex-wrap: nowrap;
  border-bottom: 1px solid var(--border);
}

.error-message__text {
  color: var(--error);
  margin-left: 1rem;
}
