.top-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid var(--border);
  height: 2.375rem;
  background-color: var(--topbar-bg);
  -webkit-app-region: drag;

  font-size: 0.6875rem;
  font-weight: 600;
  color: var(--text-40);
  text-align: center;
  text-transform: uppercase;
}
