.file {
  list-style: none;
  background-color: var(--white);
  color: var(--text-60);
  font-size: 15px;
  padding: 12px 16px;
  display: flex;
  border-bottom: 1px solid var(--border);
  width: 100%;
}

.file__body {
  width: 100%;
  display: flex;
  justify-content: row;
  flex-wrap: nowrap;
}

.file svg {
  min-width: 16px;
}

.file__status {
  display: flex;
  margin-right: 1rem;
}

.file-name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin-right: 4px;
}

.file__meta {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.file__seperator {
  margin: 0 16px;
}
