.options-item {
  list-style: none;
  align-items: center;
  background-color: var(--white);
  color: var(--text-60);
  font-size: 15px;
  padding: 0.625rem 1rem;
  display: flex;
  /* flex-wrap: nowrap; */
  border-bottom: 1px solid var(--border);
}

.options-item label {
  margin-right: 1rem;
}

.options-list > .options-list .options-item {
  padding-left: 0.75rem;
}
