.options-control {
  display: inline-flex;
  flex-direction: column;
  margin-left: 8px;
  max-width: 128px;
}

.options-control .invalid {
  border: 1px solid var(--error);
}

.options-control .invalid:focus {
  box-shadow: 0 1px 3px 0 rgba(255, 87, 87, 0.13),
    0 0 0 4px rgba(255, 87, 87, 0.2);
}

.options-control label {
  font-size: 12px;
  color: rgba(0, 9, 32, 0.4);
  margin-bottom: 4px;
  font-weight: 600;
  white-space: nowrap;
}
