.resolution-control {
  width: 6.25rem;
}

.resolution-control-label button {
  display: inline;
  padding: 0;
  background: transparent;
  border: 0;
  font-weight: 600;
  color: var(--color-interactive-primary-default);
  margin-left: 0.25rem;
}

.resolution-control-label button:hover {
  text-decoration: underline;
}
