.resolution-control {
  width: 100px;
}

.resolution-control-label button {
  display: inline;
  padding: 0;
  background: transparent;
  border: 0;
  font-weight: 600;
  color: var(--blue);
  margin-left: 4px;
}

.resolution-control-label button:hover {
  text-decoration: underline;
}
