.file-panel {
  position: relative;
  width: 100%;
  background-color: var(--gray-blue);
  border-right: 1px solid var(--border);
}

.file-list {
  /* display: flex; */
  /* flex-direction: column-reverse; */
  position: relative;
  padding: 0;
  margin: 0;
}

.file-panel__instructions {
  padding: 32px;
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.file-panel .scrollable-y {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}
