.file-panel {
  position: relative;
  width: calc(100vw - 320px);
  background-color: var(--gray-blue);
  border-right: 1px solid var(--border);
}

.file-list {
  /* display: flex; */
  /* flex-direction: column-reverse; */
  position: relative;
  padding: 0;
  margin: 0;
}

.file-panel__instructions {
  /* position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; */
  padding: 32px;
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.file-panel .scrollable-y {
  height: calc(100vh - 2.375rem);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
